*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Generated test papers
*.docx
示例*.docx
二年级*.docx
